In [30]:
import pandas as pd

In [31]:
schoolfile = "Resources/schools_complete.csv"
studentsfile = "Resources/students_complete.csv"

In [32]:
schools_df = pd.read_csv(schoolfile)
students_df = pd.read_csv(studentsfile)

In [33]:
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [34]:
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [38]:
# merge to one data set
Full_Data_df = pd.merge(schools_df,students_df,how = "left", on = "school_name")
Full_Data_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [43]:
#District Summary
#Total Schools
Schools = Full_Data_df["school_name"].unique()

In [44]:
Total_Schools = len(Schools)
Total_Schools

15

In [45]:
#Total Students
Students = Full_Data_df["student_name"].unique()
Total_Students = len(Students)
Total_Students

32715

In [18]:
#Total Budget
school_budgets = schools_df["budget"].sum()
school_budgets

24649428

In [19]:
#Average Maths Score
Avg_math = students_df["math_score"].mean()
Avg_math

78.98537145774827

In [20]:
#Average Reading Score
Avg_read = students_df["reading_score"].mean()
Avg_read

81.87784018381414

In [21]:
#% passing math (the percentage of students who passed math)
def math_result(row):
    if row["math_score"] < 70:
        return "Failed"
    else:
        return "Passed"

In [22]:
students_df["math_result"] = students_df.apply(math_result, axis = 1)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,math_result
0,0,Paul Bradley,M,9th,Huang High School,66,79,Passed
1,1,Victor Smith,M,12th,Huang High School,94,61,Failed
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,Failed
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,Failed
4,4,Bonnie Ray,F,9th,Huang High School,97,84,Passed

In [23]:
math_p_count = students_df["math_result"].value_counts()["Passed"]
math_p_rate = math_p_count / students_df["math_score"].count()
math_p_rate

0.749808526933878

In [24]:
#% passing reading (the percentage of students who passed reading)
def read_result(row):
    if row["reading_score"] < 70:
        return "Failed"
    else:
        return "Passed"

In [25]:
students_df["reading_result"] = students_df.apply(read_result, axis = 1)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,math_result,reading_result
0,0,Paul Bradley,M,9th,Huang High School,66,79,Passed,Failed
1,1,Victor Smith,M,12th,Huang High School,94,61,Failed,Passed
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,Failed,Passed
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,Failed,Failed
4,4,Bonnie Ray,F,9th,Huang High School,97,84,Passed,Passed

In [28]:
read_p_count = students_df["reading_result"].value_counts()["Passed"]
read_p_rate = read_p_count / students_df["reading_score"].count()
read_p_rate

0.8580546336482001

In [29]:
#% overall passing (the percentage of students who passed math AND reading)
Pass_Both = 0
for row in studentsfile:
       if row[7] == "Passed" and row[8] == "Passed":
            Pass_Both = Pass_Both + 1

Pass_Both

IndexError: string index out of range