In [125]:
import pandas as pd

In [126]:
schoolfile = "Resources/schools_complete.csv"
studentsfile = "Resources/students_complete.csv"

In [127]:
schools_df = pd.read_csv(schoolfile)
students_df = pd.read_csv(studentsfile)

## District Summary

In [128]:
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [129]:
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [130]:
# merge to one data set
Full_Data_df = pd.merge(schools_df,students_df,how = "left", on = "school_name")
Full_Data_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [131]:
#District Summary
#Total Schools
Schools = Full_Data_df["school_name"].unique()

In [132]:
Total_Schools = len(Schools)
Total_Schools

15

In [133]:
#Total Students
Students = Full_Data_df["student_name"].unique()
Total_Students = len(Students)
Total_Students

32715

In [134]:
#Total Budget
school_budgets = schools_df["budget"].sum()
school_budgets

24649428

In [135]:
#Average Maths Score
Avg_math = Full_Data_df["math_score"].mean()
Avg_math

78.98537145774827

In [136]:
#Average Reading Score
Avg_read = Full_Data_df["reading_score"].mean()
Avg_read

81.87784018381414

In [137]:
#% passing math (the percentage of students who passed math)
def math_result(row):
    if row["math_score"] < 70:
        return "Failed"
    else:
        return "Passed"

In [165]:
#Add Pass/Fail Column
Full_Data_df["math_result"] = Full_Data_df.apply(math_result, axis = 1)
Full_Data_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,math_result,reading_result,Passed_Both
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Passed,Failed,No
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,Failed,Passed,No
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,Failed,Passed,No
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,Failed,Failed,No
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Passed,Passed,Yes

In [139]:
math_p_count = Full_Data_df["math_result"].value_counts()["Passed"]
math_p_rate = (math_p_count / Full_Data_df["math_score"].count()) * 100
math_p_rate

74.9808526933878

In [140]:
#% passing reading (the percentage of students who passed reading)
def read_result(row):
    if row["reading_score"] < 70:
        return "Failed"
    else:
        return "Passed"

In [141]:
Full_Data_df["reading_result"] = Full_Data_df.apply(read_result, axis = 1)
Full_Data_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,math_result,reading_result
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Passed,Failed
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,Failed,Passed
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,Failed,Passed
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,Failed,Failed
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Passed,Passed

In [142]:
read_p_count = Full_Data_df["reading_result"].value_counts()["Passed"]
read_p_rate = (read_p_count / Full_Data_df["reading_score"].count())*100
read_p_rate

85.80546336482001

In [143]:
#% overall passing (the percentage of students who passed math AND reading)
def Passed_Both (row):
    if row["reading_result"] == "Passed" and row["math_result"] == "Passed":
        return "Yes"
    else:
        return "No"

In [144]:
Full_Data_df["Passed_Both"] = Full_Data_df.apply(Passed_Both, axis = 1)
Full_Data_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,math_result,reading_result,Passed_Both
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,Passed,Failed,No
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,Failed,Passed,No
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,Failed,Passed,No
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,Failed,Failed,No
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,Passed,Passed,Yes

In [145]:
overall_p_count = Full_Data_df["Passed_Both"].value_counts()["Yes"]
overall_p_rate = (overall_p_count / Full_Data_df["Passed_Both"].count())*100
overall_p_rate

65.17232575950983

## District Summary Table

In [146]:
District_df = pd.DataFrame({"Total Schools": Total_Schools,
                            "Total Students": Total_Students,
                            "Total Budget": school_budgets,
                            "Average Math Score": Avg_math,
                            "Average Reading Score": Avg_read,
                            "% Passing Math": math_p_rate,
                            "% Passing Reading": read_p_rate,
                            "% Overall Passing Rate": [overall_p_rate]})
District_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,32715,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [147]:
#Create a DataFrame that highlights the top 5 performing schools based on % Overall Passing. Include the following metrics:

#School name - done
#School type - done
#Total students - done
#Total school budget - done
#Per student budget
#Average math score
#Average reading score
#% passing math (the percentage of students who passed math)
#% passing reading (the percentage of students who passed reading)

#% overall passing (the percentage of students who passed math AND reading)

In [148]:
merge_df = pd.merge(schools_df, students_df, on = "school_name")

merge_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [149]:
merge_df =  merge_df.drop(["School ID", "Student ID"], axis = 1)
merge_df

,school_name,type,size,budget,student_name,gender,grade,reading_score,math_score
0,Huang High School,District,2917,1910635,Paul Bradley,M,9th,66,79
1,Huang High School,District,2917,1910635,Victor Smith,M,12th,94,61
2,Huang High School,District,2917,1910635,Kevin Rodriguez,M,12th,90,60
3,Huang High School,District,2917,1910635,Dr. Richard Scott,M,12th,67,58
4,Huang High School,District,2917,1910635,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...
39165,Thomas High School,Charter,1635,1043130,Donna Howard,F,12th,99,90
39166,Thomas High School,Charter,1635,1043130,Dawn Bell,F,10th,95,70
39167,Thomas High School,Charter,1635,1043130,Rebecca Tanner,F,9th,73,84
39168,Thomas High School,Charter,1635,1043130,Desiree Kidd,F,10th,99,90
39169,Thomas High School,Charter,1635,1043130,Carolyn Jackson,F,11th,95,75

In [150]:
# Calculate percent that passed math
def read_result(row):
    if row["reading_score"] < 70:
        return "Failed"
    else:
        return "Passed"

merge_df["reading_result"] = merge_df.apply(read_result, axis = 1)

def math_result(row):
    if row["math_score"] < 70:
        return "Failed"
    else:
        return "Passed"
    
merge_df["math_result"] = merge_df.apply(math_result, axis = 1)

merge_df

,school_name,type,size,budget,student_name,gender,grade,reading_score,math_score,reading_result,math_result
0,Huang High School,District,2917,1910635,Paul Bradley,M,9th,66,79,Failed,Passed
1,Huang High School,District,2917,1910635,Victor Smith,M,12th,94,61,Passed,Failed
2,Huang High School,District,2917,1910635,Kevin Rodriguez,M,12th,90,60,Passed,Failed
3,Huang High School,District,2917,1910635,Dr. Richard Scott,M,12th,67,58,Failed,Failed
4,Huang High School,District,2917,1910635,Bonnie Ray,F,9th,97,84,Passed,Passed
...,...,...,...,...,...,...,...,...,...,...,...
39165,Thomas High School,Charter,1635,1043130,Donna Howard,F,12th,99,90,Passed,Passed
39166,Thomas High School,Charter,1635,1043130,Dawn Bell,F,10th,95,70,Passed,Passed
39167,Thomas High School,Charter,1635,1043130,Rebecca Tanner,F,9th,73,84,Passed,Passed
39168,Thomas High School,Charter,1635,1043130,Desiree Kidd,F,10th,99,90,Passed,Passed
39169,Thomas High School,Charter,1635,1043130,Carolyn Jackson,F,11th,95,75,Passed,Passed

In [160]:
groupedmean = merge_df.groupby(["school_name"]).mean()
groupedmean

                         size     budget  reading_score  math_score
school_name
Bailey High School     4976.0  3124928.0      81.033963   77.048432
Cabrera High School    1858.0  1081356.0      83.975780   83.061895
Figueroa High School   2949.0  1884411.0      81.158020   76.711767
Ford High School       2739.0  1763916.0      80.746258   77.102592
Griffin High School    1468.0   917500.0      83.816757   83.351499
Hernandez High School  4635.0  3022020.0      80.934412   77.289752
Holden High School      427.0   248087.0      83.814988   83.803279
Huang High School      2917.0  1910635.0      81.182722   76.629414
Johnson High School    4761.0  3094650.0      80.966394   77.072464
Pena High School        962.0   585858.0      84.044699   83.839917
Rodriguez High School  3999.0  2547363.0      80.744686   76.842711
Shelton High School    1761.0  1056600.0      83.725724   83.359455
Thomas High School     1635.0  1043130.0      83.848930   83.418349
Wilson High School     2283.0  1319574.0      83.989488   83.274201
Wright High School     1800.0  1049400.0      83.955000   83.682222

In [161]:
groupedmean.rename(columns = {"reading_score": "Avg Reading Score",
                             "math_score": "Avg Math Score"}, inplace = True)
groupedmean

                         size     budget  Avg Reading Score  Avg Math Score
school_name
Bailey High School     4976.0  3124928.0          81.033963       77.048432
Cabrera High School    1858.0  1081356.0          83.975780       83.061895
Figueroa High School   2949.0  1884411.0          81.158020       76.711767
Ford High School       2739.0  1763916.0          80.746258       77.102592
Griffin High School    1468.0   917500.0          83.816757       83.351499
Hernandez High School  4635.0  3022020.0          80.934412       77.289752
Holden High School      427.0   248087.0          83.814988       83.803279
Huang High School      2917.0  1910635.0          81.182722       76.629414
Johnson High School    4761.0  3094650.0          80.966394       77.072464
Pena High School        962.0   585858.0          84.044699       83.839917
Rodriguez High School  3999.0  2547363.0          80.744686       76.842711
Shelton High School    1761.0  1056600.0          83.725724       83.359455
Thomas High School     1635.0  1043130.0          83.848930       83.418349
Wilson High School     2283.0  1319574.0          83.989488       83.274201
Wright High School     1800.0  1049400.0          83.955000       83.682222

In [164]:
school_merge_df = pd.merge(schools_df, groupedmean, on = "school_name") 
school_merge_df

,School ID,school_name,type,size_x,budget_x,size_y,budget_y,Avg Reading Score,Avg Math Score
0,0,Huang High School,District,2917,1910635,2917.0,1910635.0,81.182722,76.629414
1,1,Figueroa High School,District,2949,1884411,2949.0,1884411.0,81.158020,76.711767
2,2,Shelton High School,Charter,1761,1056600,1761.0,1056600.0,83.725724,83.359455
3,3,Hernandez High School,District,4635,3022020,4635.0,3022020.0,80.934412,77.289752
4,4,Griffin High School,Charter,1468,917500,1468.0,917500.0,83.816757,83.351499
5,5,Wilson High School,Charter,2283,1319574,2283.0,1319574.0,83.989488,83.274201
6,6,Cabrera High School,Charter,1858,1081356,1858.0,1081356.0,83.975780,83.061895
7,7,Bailey High School,District,4976,3124928,4976.0,3124928.0,81.033963,77.048432
8,8,Holden High School,Charter,427,248087,427.0,248087.0,83.814988,83.803279
9,9,Pena High School,Charter,962,585858,962.0,585858.0,84.044699,83.839917
10,10,Wright High School,Charter,1800,1049400,1800.0,1049400.0,83.955000,83.682222
11,11,Rodriguez High School,District,3999,2547363,3999.0,2547363.0,80.744686,76.842711
12,12,Johnson High School,District,4761,3094650,4761.0,3094650.0,80.966394,77.072464
13,13,Ford High School,District,2739,1763916,2739.0,1763916.0,80.746258,77.102592
14,14,Thomas High School,Charter,1635,1043130,1635.0,1043130.0,83.848930,83.418349

In [169]:
school_merge_df = school_merge_df.rename(columns = {"size_x": "Number of Students",
                                                    "budget_x" : "Budget"})
school_merge_df

,School ID,school_name,type,Number of Students,Budget,size_y,budget_y,Avg Reading Score,Avg Math Score
0,0,Huang High School,District,2917,1910635,2917.0,1910635.0,81.182722,76.629414
1,1,Figueroa High School,District,2949,1884411,2949.0,1884411.0,81.158020,76.711767
2,2,Shelton High School,Charter,1761,1056600,1761.0,1056600.0,83.725724,83.359455
3,3,Hernandez High School,District,4635,3022020,4635.0,3022020.0,80.934412,77.289752
4,4,Griffin High School,Charter,1468,917500,1468.0,917500.0,83.816757,83.351499
5,5,Wilson High School,Charter,2283,1319574,2283.0,1319574.0,83.989488,83.274201
6,6,Cabrera High School,Charter,1858,1081356,1858.0,1081356.0,83.975780,83.061895
7,7,Bailey High School,District,4976,3124928,4976.0,3124928.0,81.033963,77.048432
8,8,Holden High School,Charter,427,248087,427.0,248087.0,83.814988,83.803279
9,9,Pena High School,Charter,962,585858,962.0,585858.0,84.044699,83.839917
10,10,Wright High School,Charter,1800,1049400,1800.0,1049400.0,83.955000,83.682222
11,11,Rodriguez High School,District,3999,2547363,3999.0,2547363.0,80.744686,76.842711
12,12,Johnson High School,District,4761,3094650,4761.0,3094650.0,80.966394,77.072464
13,13,Ford High School,District,2739,1763916,2739.0,1763916.0,80.746258,77.102592
14,14,Thomas High School,Charter,1635,1043130,1635.0,1043130.0,83.848930,83.418349

In [172]:
school_merge_df = school_merge_df.drop(["size_y", "budget_y"], axis = 1)
school_merge_df

,School ID,school_name,type,Number of Students,Budget,Avg Reading Score,Avg Math Score
0,0,Huang High School,District,2917,1910635,81.182722,76.629414
1,1,Figueroa High School,District,2949,1884411,81.158020,76.711767
2,2,Shelton High School,Charter,1761,1056600,83.725724,83.359455
3,3,Hernandez High School,District,4635,3022020,80.934412,77.289752
4,4,Griffin High School,Charter,1468,917500,83.816757,83.351499
5,5,Wilson High School,Charter,2283,1319574,83.989488,83.274201
6,6,Cabrera High School,Charter,1858,1081356,83.975780,83.061895
7,7,Bailey High School,District,4976,3124928,81.033963,77.048432
8,8,Holden High School,Charter,427,248087,83.814988,83.803279
9,9,Pena High School,Charter,962,585858,84.044699,83.839917
10,10,Wright High School,Charter,1800,1049400,83.955000,83.682222
11,11,Rodriguez High School,District,3999,2547363,80.744686,76.842711
12,12,Johnson High School,District,4761,3094650,80.966394,77.072464
13,13,Ford High School,District,2739,1763916,80.746258,77.102592
14,14,Thomas High School,Charter,1635,1043130,83.848930,83.418349

In [166]:
group_math_result = merge_df.groupby(["school_name","math_result"]).count()
group_math_result

                                   type  size  budget  student_name  gender  \
school_name           math_result
Bailey High School    Failed       1658  1658    1658          1658    1658
                      Passed       3318  3318    3318          3318    3318
Cabrera High School   Failed        109   109     109           109     109
                      Passed       1749  1749    1749          1749    1749
Figueroa High School  Failed       1003  1003    1003          1003    1003
                      Passed       1946  1946    1946          1946    1946
Ford High School      Failed        868   868     868           868     868
                      Passed       1871  1871    1871          1871    1871
Griffin High School   Failed         97    97      97            97      97
                      Passed       1371  1371    1371          1371    1371
Hernandez High School Failed       1541  1541    1541          1541    1541
                      Passed       3094  3094    3094          3094    3094
Holden High School    Failed         32    32      32            32      32
                      Passed        395   395     395           395     395
Huang High School     Failed       1001  1001    1001          1001    1001
                      Passed       1916  1916    1916          1916    1916
Johnson High School   Failed       1616  1616    1616          1616    1616
                      Passed       3145  3145    3145          3145    3145
Pena High School      Failed         52    52      52            52      52
                      Passed        910   910     910           910     910
Rodriguez High School Failed       1345  1345    1345          1345    1345
                      Passed       2654  2654    2654          2654    2654
Shelton High School   Failed        108   108     108           108     108
                      Passed       1653  1653    1653          1653    1653
Thomas High School    Failed        110   110     110           110     110
                      Passed       1525  1525    1525          1525    1525
Wilson High School    Failed        140   140     140           140     140
                      Passed       2143  2143    2143          2143    2143
Wright High School    Failed        120   120     120           120     120
                      Passed       1680  1680    1680          1680    1680

                                   grade  reading_score  math_score  \
school_name           math_result
Bailey High School    Failed        1658           1658        1658
                      Passed        3318           3318        3318
Cabrera High School   Failed         109            109         109
                      Passed        1749           1749        1749
Figueroa High School  Failed        1003           1003        1003
                      Passed        1946           1946        1946
Ford High School      Failed         868            868         868
                      Passed        1871           1871        1871
Griffin High School   Failed          97             97          97
                      Passed        1371           1371        1371
Hernandez High School Failed        1541           1541        1541
                      Passed        3094           3094        3094
Holden High School    Failed          32             32          32
                      Passed         395            395         395
Huang High School     Failed        1001           1001        1001
                      Passed        1916           1916        1916
Johnson High School   Failed        1616           1616        1616
                      Passed        3145           3145        3145
Pena High School      Failed          52             52          52
                      Passed         910            910         910
Rodriguez High School Failed        1345           1345        1345
                      Passed        2654           2654        2654
Shelton High School   Failed         108            108         108
                      Passed        1653           1653        1653
Thomas High School    Failed         110            110         110
                      Passed        1525           1525        1525
Wilson High School    Failed         140            140         140
                      Passed        2143           2143        2143
Wright High School    Failed         120            120         120
                      Passed        1680           1680        1680

                                   reading_result
school_name           math_result
Bailey High School    Failed                 1658
                      Passed                 3318
Cabrera High School   Failed                  109
                      Passed                 1749
Figueroa High School  Failed                 1003
                      Passed                 1946
Ford High School      Failed                  868
                      Passed                 1871
Griffin High School   Failed                   97
                      Passed                 1371
Hernandez High School Failed                 1541
                      Passed                 3094
Holden High School    Failed                   32
                      Passed                  395
Huang High School     Failed                 1001
                      Passed                 1916
Johnson High School   Failed                 1616
                      Passed                 3145
Pena High School      Failed                   52
                      Passed                  910
Rodriguez High School Failed                 1345
                      Passed                 2654
Shelton High School   Failed                  108
                      Passed                 1653
Thomas High School    Failed                  110
                      Passed                 1525
Wilson High School    Failed                  140
                      Passed                 2143
Wright High School    Failed                  120
                      Passed                 1680

In [ ]:
group_math_result

In [167]:
group_reading_result = merge_df.groupby(["school_name","reading_result"]).count()
group_reading_result

                                      type  size  budget  student_name  \
school_name           reading_result
Bailey High School    Failed           899   899     899           899
                      Passed          4077  4077    4077          4077
Cabrera High School   Failed            55    55      55            55
                      Passed          1803  1803    1803          1803
Figueroa High School  Failed           568   568     568           568
                      Passed          2381  2381    2381          2381
Ford High School      Failed           567   567     567           567
                      Passed          2172  2172    2172          2172
Griffin High School   Failed            42    42      42            42
                      Passed          1426  1426    1426          1426
Hernandez High School Failed           887   887     887           887
                      Passed          3748  3748    3748          3748
Holden High School    Failed            16    16      16            16
                      Passed           411   411     411           411
Huang High School     Failed           545   545     545           545
                      Passed          2372  2372    2372          2372
Johnson High School   Failed           894   894     894           894
                      Passed          3867  3867    3867          3867
Pena High School      Failed            39    39      39            39
                      Passed           923   923     923           923
Rodriguez High School Failed           791   791     791           791
                      Passed          3208  3208    3208          3208
Shelton High School   Failed            73    73      73            73
                      Passed          1688  1688    1688          1688
Thomas High School    Failed            44    44      44            44
                      Passed          1591  1591    1591          1591
Wilson High School    Failed            79    79      79            79
                      Passed          2204  2204    2204          2204
Wright High School    Failed            61    61      61            61
                      Passed          1739  1739    1739          1739

                                      gender  grade  reading_score  \
school_name           reading_result
Bailey High School    Failed             899    899            899
                      Passed            4077   4077           4077
Cabrera High School   Failed              55     55             55
                      Passed            1803   1803           1803
Figueroa High School  Failed             568    568            568
                      Passed            2381   2381           2381
Ford High School      Failed             567    567            567
                      Passed            2172   2172           2172
Griffin High School   Failed              42     42             42
                      Passed            1426   1426           1426
Hernandez High School Failed             887    887            887
                      Passed            3748   3748           3748
Holden High School    Failed              16     16             16
                      Passed             411    411            411
Huang High School     Failed             545    545            545
                      Passed            2372   2372           2372
Johnson High School   Failed             894    894            894
                      Passed            3867   3867           3867
Pena High School      Failed              39     39             39
                      Passed             923    923            923
Rodriguez High School Failed             791    791            791
                      Passed            3208   3208           3208
Shelton High School   Failed              73     73             73
                      Passed            1688   1688           1688
Thomas High School    Failed              44     44             44
                      Passed            1591   1591           1591
Wilson High School    Failed              79     79             79
                      Passed            2204   2204           2204
Wright High School    Failed              61     61             61
                      Passed            1739   1739           1739

                                      math_score  math_result
school_name           reading_result
Bailey High School    Failed                 899          899
                      Passed                4077         4077
Cabrera High School   Failed                  55           55
                      Passed                1803         1803
Figueroa High School  Failed                 568          568
                      Passed                2381         2381
Ford High School      Failed                 567          567
                      Passed                2172         2172
Griffin High School   Failed                  42           42
                      Passed                1426         1426
Hernandez High School Failed                 887          887
                      Passed                3748         3748
Holden High School    Failed                  16           16
                      Passed                 411          411
Huang High School     Failed                 545          545
                      Passed                2372         2372
Johnson High School   Failed                 894          894
                      Passed                3867         3867
Pena High School      Failed                  39           39
                      Passed                 923          923
Rodriguez High School Failed                 791          791
                      Passed                3208         3208
Shelton High School   Failed                  73           73
                      Passed                1688         1688
Thomas High School    Failed                  44           44
                      Passed                1591         1591
Wilson High School    Failed                  79           79
                      Passed                2204         2204
Wright High School    Failed                  61           61
                      Passed                1739         1739

In [ ]:
school_summary = pd.DataFrame({"School Name": school_name,
                              "School Type": school_type,
                              "Total Students": school_students,
                              "Total School Budget": school_budget,
                              "Per Student Budget": psb,
                              "Average Math Score": groupedmean["math_score"],
                              "Average Reading Score": groupedmean["reading_score"],
                              "% Passing Math": school_pass_math,
                              "% Passing Reading": school_pass_read,
                              "Overall Passing Rate": overall_pass})