In [1]:
import pandas as pd

In [17]:
schoolfile = "Resources/schools_complete.csv"
studentsfile = "Resources/students_complete.csv"

In [19]:
schools_df = pd.read_csv(schoolfile)
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [21]:
students_df = pd.read_csv(studentsfile)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [23]:
#District Summary
#Total Schools
len(schools_df["school_name"])

15

In [24]:
#Total Students
len(students_df["student_name"])

39170

In [26]:
#Total Budget
school_budgets = schools_df["budget"].sum()
school_budgets

24649428

In [27]:
#Average Maths Score
Avg_math = students_df["math_score"].mean()
Avg_math

78.98537145774827

In [28]:
#Average Reading Score
Avg_read = students_df["reading_score"].mean()
Avg_read

81.87784018381414

In [52]:
#% passing math (the percentage of students who passed math)
def math_result(row):
    if row["math_score"] < 70:
        return "Failed"
    else:
        return "Passed"

In [53]:
students_df["math_result"] = students_df.apply(math_result, axis = 1)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,math_result
0,0,Paul Bradley,M,9th,Huang High School,66,79,Passed
1,1,Victor Smith,M,12th,Huang High School,94,61,Failed
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,Failed
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,Failed
4,4,Bonnie Ray,F,9th,Huang High School,97,84,Passed

In [54]:
math_p_count = students_df["math_result"].value_counts()["Passed"]
math_p_rate = math_p_count / students_df["math_score"].count()
math_p_rate

0.749808526933878

In [56]:
#% passing reading (the percentage of students who passed reading)
def read_result(row):
    if row["reading_score"] < 70:
        return "Failed"
    else:
        return "Passed"

In [57]:
students_df["reading_result"] = students_df.apply(read_result, axis = 1)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,math_result,reading_result
0,0,Paul Bradley,M,9th,Huang High School,66,79,Passed,Failed
1,1,Victor Smith,M,12th,Huang High School,94,61,Failed,Passed
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,Failed,Passed
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,Failed,Failed
4,4,Bonnie Ray,F,9th,Huang High School,97,84,Passed,Passed

In [58]:
read_p_count = students_df["reading_result"].value_counts()["Passed"]
read_p_rate = read_p_count / students_df["reading_score"].count()
read_p_rate

0.8580546336482001

In [30]:
#% overall passing (the percentage of students who passed math AND reading)